.hero-form {
  margin-bottom: 42px;
  width: 408px;
  z-index: 200;

  .hero-form-body {
    .MuiFormControl-marginNormal {
      margin-top: 12px !important;
      margin-bottom: 0 !important;
    }

    .hero-form-main-button {
      padding: 0 auto;
      width: 100%;
      height: 56px;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 48px;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 24px;
      background-color: #0a66c2;
      position: relative;
      transition-duration: 167ms;
      transition-property: background-color;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

      &:hover {
        background-color: #004182;
      }
    }
  }
}
